{
  "extends": "../.eslintrc",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": false,
    "config": false
  },
  "rules": {
    "no-unused-expressions": 0,
    "strict": 0
  }
}
